<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.AGVErrorMapper">
	
	
	<!-- 插入AGV故障数据 -->
	<!--Integer insertAGVError(AGVError AGVError);  -->
	<insert id="insertAGVError">
		insert into AGVError(
		EID,AGVID,EDate,
		ECode,EType,ELevel,
		EDesc,ECause,Speed,
		Perc,UserID
		)values (
		#{EID},#{AGVID},#{EDate},
		#{ECode},#{EType},#{ELevel},
		#{EDesc},#{ECause},#{Speed},
		#{Perc},#{UserID}
		)			
	</insert>	
	
	<!--得到AGV故障数据-->
	<!-- List<AGVError> getAGVErrors();-->
	<select id="getAGVErrors" resultType="group.agv01.entity.AGVError">
		SELECT * FROM AGVError;
	</select>
	
	<!--得到AGV故障数据-->
	<!-- List<AGVError> getAGVErrorsDesc();-->
	<select id="getAGVErrorsDesc" resultType="group.agv01.entity.AGVError">
		SELECT * FROM AGVError order by EDate desc limit 0,10;
	</select>
	
	<!--根据ID得到AGV故障数据-->
	<!-- List<AGVError> getAGVErrorsByID(String AGVID);-->
	<select id="getAGVErrorsByID" resultType="group.agv01.entity.AGVError">
		SELECT * FROM AGVError where AGVID=#{AGVID};
	</select>
	


	
	
</mapper>
