<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.AGVServMapper">
	
	
	<!-- 插入插入AGV维保数据 -->
	<!--Integer insertAGVServ(AGVServ AGVServ);  -->
	<insert id="insertAGVServ">
		insert into AGVDoc(
		AGVID,ServDate,ServType,
		ServItem,PartName,RunDist,
		RunTime,NextDist,NextTime,
		UserID
		)values (
		#{AGVID},#{ServDate},#{ServType},
		#{ServItem},#{PartName},#{RunDist},
		#{RunTime},#{NextDist},#{NextTime},
		#{UserID}
		)			
	</insert>	
	
	<!--得到AGV维保数据-->
	<!-- List<AGVReco> getAGVServs();-->
	<select id="getAGVServs" resultType="group.agv01.entity.AGVServ">
		SELECT t1.*
		FROM AGVDoc AS t1
		INNER JOIN
		(
		SELECT t2.AGVID, MAX(ServDate) AS maxdate
		FROM AGVDoc AS t2
		GROUP BY t2.AGVID
		) AS t3 ON t1.AGVID = t3.AGVID AND t1.ServDate = t3.maxdate;
	</select>
	
	<!-- 根据AGVID得到AGV维保数据 -->
	<!-- List<AGVServ> getAGVServsByID(String AGVID); -->
	<select id="getAGVServsByID" resultType="group.agv01.entity.AGVServ">
		select * from AGVDoc where AGVID=#{AGVID};
	</select>





	
	
</mapper>
