<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.DayErrorMapper">
	
	
	<!--得到每日故障数据-->
	<!-- List<DayError> getDayErrors();-->
	<select id="getDayErrors" resultType="group.agv01.entity.DayError">
		SELECT t1.*
		FROM DayError AS t1
		INNER JOIN
		(
		SELECT t2.AGVID, MAX(SD) AS maxdate
		FROM DayError AS t2
		GROUP BY t2.AGVID
		) AS t3 ON t1.AGVID = t3.AGVID AND t1.SD = t3.maxdate;
	</select>
	





	
	
</mapper>
