<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.DaySourDestMapper">
	
	
	<!--得到每日路线数据-->
	<!-- List<DaySourDest> getDaySourDest();-->
	<select id="getDaySourDest" resultType="group.agv01.entity.DaySourDest">
		SELECT * from DaySourDest;
	</select>
	





	
	
</mapper>
