<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.OAGVTMapper">
	
	
	<!--得到订单数据-->
	<!-- List<OAGVT> getOAGVTs() -->
	<select id="getOAGVTs" resultType="group.agv01.entity.OAGVT">
		select * from OAGVT;
	</select>
	





	
	
</mapper>
