<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.OrderMapper">
	
	<!-- 插入订单数据 -->
	<!-- Integer insertOrder(Order order); -->	
	<insert id="insertOrder">
		insert into TransferOrder(
		OrderID,Grade,ONO,
		OType,ODate,SourPosiID,
		DestPosiID,Deadline,TStat,
		CreatDate,UserID,Dist,OStat
		)values (
		#{OrderID},#{Grade},#{ONO},
		#{OType},#{ODate},#{SourPosiID},
		#{DestPosiID},#{Deadline},#{TStat},
		#{CreatDate},#{UserID},#{Dist},#{OStat}
		)	
	</insert>

	<!-- 删除订单数据 -->
	<!--Integer deleteOrder(String OrderID); -->
	<delete id="deleteOrder">
	delete from
		TransferOrder
	where
		OrderID=#{OrderID}	
	</delete>

	<!-- 修改订单数据 -->
	<!-- Integer updateOrder(@Param("OrderID")String OrderID,@Param("OType")String OType); -->
	<update id="updateOrder">
		update
			TransferOrder
		set
			OType=#{OType}
		where
			OrderID=#{OrderID}
	</update>
	
	<!--得到订单数据-->
	<!-- List<Order> getOrders() -->
	<select id="getOrders" resultType="group.agv01.entity.Order">
		select * from TransferOrder;
	</select>
	
	<!-- 根据ID得到订单 -->
	<!--Order getOrderByID(String OrderID);  -->
	<select id="getOrderByID" resultType="group.agv01.entity.Order">
		select * from TransferOrder
		where OrderID=#{OrderID}
	</select>

	<!--根据任务ID得到订单  -->
	<!-- List<Order> getOrdersByTID(String TID); -->
	<select id="getOrdersByTID" resultType="group.agv01.entity.Order">
		select * from TransferOrder where TID=#{TID} ;
	</select>


	
	
</mapper>
