<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.TaskMapper">
	
	<!-- 插入任务数据 -->
	<!--Integer insertTask(Task task);  -->
	<insert id="insertTask">
		insert into Task(
		TaskID,TaskType,Grade,
		SourPosiID,DestPosiID,Dist,
		Deadline,TStat,CreatDate,UserID,IsDelete
		)values (
		#{TaskID},#{TaskType},#{Grade},
		#{SourPosiID},#{DestPosiID},#{Dist},
		#{Deadline},#{TStat},#{CreatDate},#{UserID},#{IsDelete}
		)			
	</insert>	
	
	<!-- 删除任务数据 -->
	<!--Integer deleteTask(String TaskID); -->
	<update id="deleteTask">
	update
		Task
	set
		IsDelete=1
		where
		TaskID=#{TaskID}
	</update>
	
	<!-- 修改任务数据 -->
	<!-- Integer updateTask(@Param("TaskID")Integer TaskID,@Param("TaskType")String TaskType); -->
	<update id="updateTask">
		update
		Task
		set
		TaskType=#{TaskType}
		where
		TaskID=#{TaskID}
	</update>
	
	<!--得到任务数据-->
	<!-- List<Task> getTask() -->
	<select id="getTask" resultType="group.agv01.entity.Task">
		select * from Task where IsDelete=0
	</select>
	
	<!-- 根据ID得到Task -->
	<!--Task getTaskByID(String TaskID);  -->
	<select id="getTaskByID" resultType="group.agv01.entity.Task">
		select * from Task 
		where TaskID=#{TaskID} and IsDelete=0
	</select>
	
	



	
	
</mapper>
