<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 这是在写映射 -->
<!--namespace:匹配的Java接口  -->
<mapper namespace="group.agv01.mapper.UserMapper">
	<!-- 插入用户数据 -->
	<!--Integer insertUser(User user)  -->
	<insert id="insertUser">
		insert into UserT(
		UserName,PW
		)values (
		#{UserName},#{PW}
		)			
	</insert>	
	
	<!-- 删除用户数据 -->
	<!--Integer deleteUser(Integer UserID);  -->
	<delete id="deleteUser">
	delete from
		UserT
	where
		UserID=#{UserID}	
	</delete>
	
	<!-- 修改密码 -->
	<!-- Integer updatePassword(@Param("UserID")Integer UserID,@Param("PW")String PW); -->
	<update id="updatePassword">
		update
		UserT
		set
		PW=#{PW}
		where
		UserID=#{UserID}
	</update>
	
	<!--得到用户数据-->
	<!-- Integer getUser(User user); -->
	<select id="getUser" resultType="group.agv01.entity.User">
		select * from UserT where UserName=#{UserName};
	</select>
	





	
	
</mapper>
